.btn-primary {
    background-repeat: repeat;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
}

.btn-primary:hover {
    /* background-image: linear-gradient(180deg, var(--yannick-main), var(--yannick-hover)), url(../img/btn-texture.png);  HOU DEZE DER IN MISSCHIEN WILLEN WE EEN COLOR CHANGE IN DE HOVER HGEBBEN */
    background-position: 100% 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.btn {
    mask-image: url(../img/mask.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 400px 140px;
    -webkit-mask-image: url(../img/mask.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 400px 140px;
}

.btn-yannick-p {
    background-image: linear-gradient(180deg, var(--yannick-main), var(--yannick-dark)), url(../img/btn-texture.png);
}

.btn-yannick-last {
    background-image: linear-gradient(180deg, var(--yannick-dark), var(--yannick-main)), url(../img/btn-texture.png);
}

.btn-enya-p {
    background-image: linear-gradient(180deg, var(--enya-main), var(--enya-hover)), url(../img/leather.jpg);
}

.btn-enya-last {
    background-image: linear-gradient(180deg, var(--enya-hover), var(--enya-main)), url(../img/leather.jpg);
}

.btn-liam-p {
    background-image: linear-gradient(180deg, var(--liam-main), var(--liam-dark)), url(../img/watertexture.webp);
}

.btn-liam-last {
    background-image: linear-gradient(180deg, var(--liam-dark), var(--liam-main)), url(../img/watertexture.webp);
}

.btn-jesse-p {
    background-image: linear-gradient(180deg, var(--jesse-main), var(--jesse-dark)), url(../img/clothtexture.webp);
}

.btn-jesse-last {
    background-image: linear-gradient(180deg, var(--jesse-dark), var(--jesse-main)), url(../img/clothtexture.webp);
}