* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62,5;
    
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 5rem;
}
h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.5rem;
    font-weight: 1000;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 4px;  
}

.b-yannick{
    background-color: rgb(241, 191, 53);
}

.b-yannick:hover {
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem rgb(175, 141, 45), -0.5rem -0.4rem rgb(175, 141, 45) ;
    transition: transform 150ms;
    transform: scale(1.03);
}


.b-yannick[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#hs-btn {
    background-color: blue;
}

#hs-btn:hover {
    box-shadow: 0.4rem 0.4rem rgb(175, 141, 45), -0.5rem -0.4rem rgb(175, 141, 45);
} 

/* Yannick's super geweldige code, text container */
.text-container {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
} 

.t-img {
    object-fit: cover;
}

.text-1{
    width: 50%;
    margin: auto;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
    float: left;
    background-color: white;
}

#right { 
    float: right; 
    margin: 10px;
    border-radius: 12px;      
}

#left {
    float: left;
    margin: 10px; 
    border-radius: 12px;
}

.text-1 h3 {
    font-size: 40px;
    margin-bottom: 20px;
}